<a class="twitter-share-button"
   href="https://twitter.com/intent/tweet?text={{ .Params.title }} by {{ .Site.Params.twitterHandle }}"
   data-size="large">
  Tweet</a>

<div id="fb-root"></div>
<div class="fb-share-button"
     data-href="https://medium.freecodecamp.org/what-i-learned-by-developing-enterprise-software-for-the-first-time-d630481ce6eb"
     data-layout="button_count" data-size="large" data-mobile-iframe="false"><a class="fb-xfbml-parse-ignore"
                                                                                target="_blank"
                                                                                href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmedium.freecodecamp.org%2Fwhat-i-learned-by-developing-enterprise-software-for-the-first-time-d630481ce6eb&amp;src=sdkpreparse">Share</a>
</div>